<html>
    <head>
        <title>Yağızhan ÇETİN Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Yağızhan ÇETİN Blog</a></h1>
        </div>

            {% for post in posts %}
        <div>
        <p>published: {{ post.yayinlanma_tarihi }}</p>
        <h1><a href="">{{ post.baslik }}</a></h1>
        <p>{{ post.yazi|linebreaks }}</p>
        </div>
        {% endfor %}
            <a href = "http://yagizhan.pythonanywhere.com/admin">admin paneli</a>
        </div>
    </body>
</html>
